htlm,
body {
  padding: 0;
  margin: 0;
}

* {
  color: aliceblue;
}

body {
  background-color: rgb(65, 61, 61);
}

.title {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start-game-button {
  margin-top: 5rem;
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
  background-color: green;
  font-size: large;
}

.game-board {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row {
  display: flex;
  gap: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.confirm-length-btn {
  background-color: green;
}

#word-length {
  background-color: grey;
}
